Repository cs-pub-ro/PP-laboratoare, pull requests merged in 2022-03, with the labels that each got.

#19 Laborator 2 - 2022
  racket/recursivitate/schelet/recursive-images.rkt
  racket/recursivitate/schelet/rezolvate.rkt
  racket/recursivitate/solutii/recursive-images-sol.rkt
Labels: racket

#24 Update Lab 4
  racket/legare/README.md
  racket/legare/schelet/bindings-var.rkt
  racket/legare/schelet/bindings.rkt
  racket/legare/solutii/bindings-sol.rkt
  racket/legare/solutii/bindings-var-sol.rkt
Labels: racket, laborator

#20 Labs 6 + 7 - 2022
  haskell/evaluare-lenesa/README.md
  haskell/evaluare-lenesa/schelet/TestPP.hs
  haskell/evaluare-lenesa/schelet/exemple.hs
  haskell/evaluare-lenesa/schelet/lazy.hs
  haskell/evaluare-lenesa/solutii/TestPP.hs
  haskell/evaluare-lenesa/solutii/exemple.hs
  haskell/evaluare-lenesa/solutii/lazy-sol.hs
  haskell/intro/README.md
  haskell/intro/schelet/exemple.hs
  haskell/intro/schelet/intro.hs
  haskell/intro/solutii/exemple.hs
  haskell/intro/solutii/intro-sol.hs
Labels: haskell, laborator

#26 Lab 5 - 2022
  racket/intarzierea-evaluarii/README.md
  racket/intarzierea-evaluarii/schelet/streams.rkt
  racket/intarzierea-evaluarii/solutii/streams-sol.rkt
Labels: racket, laborator
